<div class="box-body">
  <li><%= question.title %>
  <small>asked by <%= question.user.first_name %> <%= question.created_at.strftime("on %m/%d/%Y %l:%M%P") %></small>
  </li>

  <small>
    <span>
      <%= link_to("#{question.answers.size} answers", question_path(question)) %>
    </span>
  </small>

  <hr>
</div>
