<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <li><%= question.title %></li>
    <small>
      <span>
        <%= link_to("#{question.answers.size} answers", question_path(question)) %>
      </span>
    </small>
  </div>
</div>
