<%= link_to new_question_path do %>
  <button class="btn btn-success">add new question</button>
<% end %>

<h2>
  All Question
</h2>

<%= form_tag questions_path, method: :get do %>
  <%= text_field_tag :q, nil, placeholder: 'Search...'  %>
<% end %>

<ul>
  <% @questions.each do |question| %>
    <%= render 'question', question: question  %>
  <% end %>
</ul>

